# Browse
1. Introduce problem: optimizing my workflow by understanding my current habits
2. What can I look at?
    + Commit History
    + Browser History
    + Wakatime
3. Get and clean:
    + browser history
        * Oberservations
    + Get wakatime
        * Obersvations
4. Redfine questions in the context of the datasets
5. Answer them with visualizations

In [13]:
import pandas as pd

# read in History
hist_df = pd.read_csv("datasets/chrome_hist.csv")

hist_df.head()

,id,url,title,visit_count,typed_count,last_visit_time,hidden
0,348,https://www.facebook.com/profile.php?id=100004...,Rohan Mishra,264,126,13162785960093394,0
1,551,https://www.messenger.com/t/1002100799843065,Messenger,112,0,13162868680446667,0
2,704,https://github.com/Meeshbhoombah,Meeshbhoombah (Rohan Mishra),197,52,13162871708126532,0
3,1110,https://www.makeschool.com/users/auth/facebook,Log into Facebook | Facebook,4,0,13157852987745316,0
4,1347,https://www.messenger.com/t/dhruv.mand,(1) Messenger,7,0,13160376562930578,0

## Obeservations
Looking at the dataset, each row appears to be a unique url. It looks like a URL can only appear once in the database, which is why, so that the total number of visits to a website can be determined while still avoiding duplication. The attribute `last_visit_time` is named as such for that same reason, as all visits cannot be represented without breaking `SQL` convention.

This data will yield variable results if parsed through incorrectly because of the value of certain attributes, like the `title` attribute, do not follow a set pattern. This is **bad news bears**. Thankfully, the website can be guessed from the `url_name` by splitting the string after `https://www.`, which is a prefix that they each shares. The end of a websites's name is delimited by `.com`.

## Time Heatmap
I want to gain an insight into how often I am browsing the internet on my Mac so I decided to create a time heatmap of my browsing data so I can easily interpret that. I want to see an hourly breakdown of my browsing activity on a daily basis, so I need to convert the `last_visit_time` attribute to a readable date format. 

- Inital unable to read error
- Googling to find format
- Aftewards integer size error
- Fixed with math

In [ ]:
import datetime
import numpy as np

last_visit_times = hist_df["last_visit_time"].values

# splice for testing
last_visit_times = last_visit_times[:5]

# convert times
for visit_time in last_visit_times:
    
    # convert numpy.int64 to int
    visit_time = np.asscalar(visit_time)
    
    # Chrome's timestamp is formatted as 
    # microseconds from January 1, 1601
    epoch_start = datetime.datetime(1601, 1, 1)
    
    # delta
    delta = datetime.timedelta(microseconds = int(visit_time))
    
    # comebine
    visit_time = epoch_start + delta
    
    # isoformat
    visit_time = visit_time.isoformat()

## Wakatime